<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to VoteSquared.org, <%= @user.name %>!</h1>
    <p>
      You have successfully signed up to <a href=http://VoteSquared.org>VoteSquared.org</a>.<br>
    </p>
    <p>
      For details on how to use the site check-out <a href="https://www.youtube.com/watch?v=yPa2Qbm54fU">this video</a>.
    </p>
    If you would like to stop receiving email from VoteSquared.org, <%= link_to 'unsubscribe here', edit_user_url(@user) %> .
  </body>
</html>