<%= render "html_header" %>

    <h1>Welcome to VoteSquared.org, <%= @user.name %>!</h1>
    <p>
      You have successfully signed up to <a href=http://VoteSquared.org>VoteSquared.org</a>.<br>
    </p>
    <p>
      For details on how to use the site check-out <a href="https://www.youtube.com/watch?v=yPa2Qbm54fU">this video</a>.
    </p>
    
<%= render "html_footer" %>