<%= render :partial => "shared/top" %>

<h1>Congratulations, you have successfully signed out!  Want to do some more?</h1>
<p>
<center><%= link_to 'view, edit, and add Politicians', controller: 'politicians' %></center>

<%= render :partial => "shared/bottom" %>