<%= render :partial => "shared/top" %>

<h1>Congratulations, you have successfully signed out!  Want to do some more?</h1>
<p>
<center><%= link_to 'View Politicians', controller: 'politicians' %></center>
<p>
<%= render :partial => "shared/bottom" %>