  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "94a42e95-c00a-497f-9e4e-898c86e76270", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>

<body bgcolor="#FFFFFF" text="#000000" link="#0033FF" vlink="#0033AA" alink="#0033FF" topmargin="11" leftmargin="3" marginheight="11" marginwidth="3">

<table width="100%" bgcolor="#E6E6E6" id="header">
 <tr>
   <td>
     <center><a href="/"><img src="/LogoSmall.png" width="218" height="60" alt="Vote Squared"></a></center>
   </td>
 
   <td>
     <center>
       Follow us on<br>
       <a href="https://www.facebook.com/votesquared"><img src="/fb-logo.png" alt="Facebook"></a> <a href="https://twitter.com/VoteSquared"><img src="/twitter-logo.png" alt="Twitter"></a> <a href="https://plus.google.com/u/0/101694695851367916712"><img src="/g+-logo.png" alt="Google+"></a>
     </center>
   </td>  
      
   <td>
     <div id="menu">
       <ul>
         <li>About Us
           <ul class="sub-menu">
             <li><%= link_to 'Community', about_community_path %></li>
             <li><%= link_to 'Funding', about_funding_path %></li>
             <li><%= link_to 'Democratic Anti-patterns', about_democratic_antipatterns_path %></li>
           </ul>
         </li>
       </ul>
     </div>
   </td>

   <td align=right> 
    <center>
      <% if user_signed_in? %>
       <%= link_to("Logout", destroy_user_session_path, :method => :delete) %><br>
       <%= current_user.display.html_safe %>
      <% else %>
       <%= link_to('Login', user_omniauth_authorize_path(:facebook))  %>  
      <% end %>
    </center>
   </td>
  </tr>
</table>

<table width="100%" bgcolor="#E0F8E0" id=header>
  <tr>
    <td>
      Ways to Support:
    </td>
    <td>
      <center><a href="http://www.cafepress.com/votesquared">Merchandise</a></center>
    </td>
    <td align=center>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="2F4CLTZ7DDA78">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </td>
    <td align=center>
      <a href=https://github.com/ForestJay/VoteSquared>Help Code</a>
    </td>
  </tr>
</table>

<table width="100%" border=0 cellspacing=0 class="main_body">
  <td width=5 bgcolor="#9F81F7" border=0>
  </td>
  <td border=0>
    <% if flash[:notice] %>
      <a href="#" onclick="document.self.style.display = 'none'">
      <table align="center"><td style="background: pink;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;"><%= flash[:notice] %></td></table>
      </a>
    <% end %>