<%= render "shared/top" %>
<title>Vote Squared - The Social Politician Rating Platform</title>
<center><a href="http://votesquared.org"><img src="/Logo.png" width="400" height="110" alt="Vote Squared"></a></center>

<h1>Welcome to Vote Squared, the social platform for rating politicians!</h1>

<p>
  We have just completed the first release of VoteSquared allowing you to <b><%= link_to 'rate politicians, edit Politicians, and add Politicians', controller: 'politicians' %></b>.  In order to rate, add, and edit, you will need to sign-in via the link at the top right.  You don't need to sign-in to view existing ratings to see how others feel about the candidates and politicians.  Please try it out and report any issues to us via <a href="https://github.com/ForestJay/VoteSquared/issues">GitHub</a>.
</p>

<br>
<br>
<br>
<br>
<br>
<br>
<%= render "shared/bottom" %>
