<%= render "shared/top" %>

<center><a href="http://votesquared.org"><img src="/Logo.png" width="400" height="110" alt="Vote Squared"></a></center>

<h1>Welcome to Vote Squared!</h1>

<p>
  We have just completed the first release of VoteSquared that allows you to <b><%= link_to 'rate, edit, and add Politicians', controller: 'politicians' %></b>.  In order to rate, add, and view, you will need to sign-in via the link at the top.  Please try it out and report any issues to us via <a href="https://github.com/ForestJay/VoteSquared/issues">GitHub</a>.
</p>

<br>
<br>
<br>
<br>
<br>
<br>
<%= render "shared/bottom" %>
