<%= render "shared/top" %>

<h1>Community</h1>

<p>Vote Squared was founded by Forest Handford.  As Forest has always lived in the US, his focus is on US politicians.  We welcome help from the international community to broaden Vote Squared's reach.  Every country with some form of democracy is welcome to have content here.  While we may not understand your country's needs, we are open to helping you contribute to Vote Squared to meet those needs.</p>

<p>The software behind Vote Squared is open source.  You may contribute to the code via <a href="https://github.com/ForestJay/VoteSquared">pull requests on GitHub</a>.  The <a href="https://github.com/ForestJay/VoteSquaredHomePage">home page is also stored in GitHub</a>.</p>

<p>As a social platform, users are encouraged to add content to the site.  This content can include adding politicians, updating politician information, and rating politicians.</p>

<%= render "shared/bottom" %>