<%= render "shared/top" %>
<title>Funding</title>
<h1>Funding</h1>

<p>You can help keep this site alive by donating (use the button above) and buying merchandise.  As the site (and costs) grow, we need funds to support the growth.</p>

<%= render "shared/bottom" %>