// Place all the styles related to the politicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="text"],
textarea {
    width:800px;
    height:80px;
    padding: 3px;
    }
