// Place all the styles related to the politicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#field textarea {
    width:200px;
    height:20px;
    padding: 3px;
    }

textarea {
    width:800px;
    height:80px;
    padding: 3px;
    }
