<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="Author" content="The Vote Squared Team">
  <meta name="Classification" content="Politics, Freedom, Voting, Social, Rating">
  <meta name=Copyright content="&copy; 2014 - 2015 The Vote Squared Team">
  <meta name="KeyWords" content="Politics, Freedom, Voting, Social, Rating">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
